$black-color: #000000;
$white-color: #ffffff;
$navlink-height: 38px;
$search-color:#F0F0F0;
$breakpoint-mobile: 576px;
$breakpoint-tablet: 1024px;

$discount-bg-color: #FF33331A;
$discount-color: #FF3333;
$text-line-through: line-through;

$text-gray: #666;

$star-color: #ffc107;

$bg-gray: #f0f0f0;

$brown-shade: #4F4631;

$green-shade: #314F4A;
$blue-shade: #314F4A;